.title {
  margin: 0;
  padding: 0;
  color: #24292e;
}

.titleContainer {
  display: flex;
  margin-bottom: 5px;
}

.labelContainer {
  margin: 0 5px;
}

.issueDetails {
  font-size: 0.8em;
  color: #586069;
}
